// General form stylings
//Labels should match h3 stylings
label {
  @extend %h3;
}

@media #{$screen} {
  form#state-flow-events-revision{
    padding-bottom: 3em;
    padding-left: 2em;
    input[type='submit']{
      margin-right: 16px;
    }
  }
  .filter-help {
    a {
      padding: 0 20px 0 0;
    }
  }

  .view-filters {
    text-align: center;
    form {
      display: inline-block;
      text-align: center;
    }
  }

  .views-exposed-widgets {
    text-align: center;
  }

  .views-exposed-form .views-exposed-widget {
    display: block;
    text-align: center;
    float: none;
    padding-right: 0;
  }

  table.field-multiple-table {
    label {
      padding-bottom: 0;
    }
    border: 1px solid $input-border-stroke;
    tbody, tr, th {
      border: 1px solid $input-border-stroke;
      border-bottom: 1px solid #6F7E95;
    }
  }
  //...unless it is for a checkbox or radio button
  label.option {
    @include paragraph;
  }

  .form-required {
    color: $parcc-orange;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea {
    border: 1px solid $input-border-stroke;
    height: 40px;
    border-radius: 2px;
    max-width: 100%;
    padding-left: 5px;
  }

  .description {
    margin-top: .25em;
  }

  .form-actions {
    input {
      margin-right: 15px;
    }
  }

  select{
    background-color: $white;
    background-image: url('../images/select-bg.png');
    background-position: center right;
    background-repeat: no-repeat;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid $input-border-stroke;
    padding-left: 5px;
    padding-right: 15px;
    height: 40px;
    border-radius: 2px;
  }

  fieldset{
    border: 1px solid $input-border-stroke;
    margin-left: 0px;
    margin-right: 0px;
  }

  .form-checkboxes, .filter-wrapper {
    border-radius: 2px;
    border: 1px solid $input-border-stroke;
  }

  .form-type-checkbox {
    position: relative;
  }

  input[type='checkbox'] {
    height: 18px;
    width: 18px;
    outline: none;
    border: none;
    opacity: 0;
    background-color: transparent;
    position: relative;
    left: 20px;
    z-index: 1000;
  }

  input[type='checkbox'] + span.prc-checkbox {
    display: inline-block;
    border: 1px solid $input-border-stroke;
    height: 18px;
    width: 18px;
    z-index: 990;
    background-color: $white;
    border-radius: 4px;
    &:hover {
      background-color: #ebebeb;
    }
    &:after {
      font-weight: bold;
      position: absolute;
      left: 23px;
      top: 2px;
      font-size: 14px;
    }
  }

  table  {
    .form-type-checkbox{
      min-width: 18px;
      min-height: 18px;
    }
    input[type='checkbox'] + span.prc-checkbox:after, input[type='checkbox'], input[type='checkbox'] + span.prc-checkbox{
      margin-left: auto;
      margin-right: auto;
      left: 0;
      top: 0;
      position: absolute;
      display: inline-block;
    }
    input[type='checkbox'] + span.prc-checkbox:after{
      top: -2px;
      left: 4px;
    }

  }

  //Make the label bigger and slide it over our span so we can click it
  span.prc-checkbox + label {
    padding-left: 20px;
    position: relative;
    right: 20px;
  }

  input[type='checkbox']:checked + span.prc-checkbox {
    background-color: $parcc-purple;
    color: $white;
    &:after {
      content: 'X';
    }
  }

  input[type='checkbox']:focus + span.prc-checkbox {
    border: 1px solid lighten($input-border-stroke, 30);
  }

  #edit-alternatives table.sticky-header{
    z-index: 1001;
  }

  #multichoice-alternatives-table {
    .form-type-checkbox{
      margin-left: 40px;
    }
  }
  // Stylings for fields
  .field-widget-taxonomy-shs input[type='submit'] {
    margin-top: 15px;
  }

  // Display grade level unlimited checkboxes inline
  .form-type-checkboxes.form-item-field-grade-level-unlimited-und .form-type-checkbox {
    display: inline-block;
  }
  // Give collapsable fieldsets a little more breathing room (mainly for library node form)
  fieldset.collapsible {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  // Stylings for the item bank preview form
  $preview-padding: 1em;

  .question-preview-area .answering-form, .item-preview-pane .answering-form {
    background-color: $white;
    border: 1px solid $light-gray;
    .field {
      padding-top: 1em;
    }
    .form-item, input, .field, a.use-ajax, .answer-table {
      padding-left: $preview-padding;
      padding-right: $preview-padding;
    }
    .answer-table .form-item, {
      padding-left: 0;
      padding-right: 0;
    }
    .question-title {
      background-color: $parcc-purple;
      color: $white;
      font-weight: bold;
      padding-top: .75em;
      padding-bottom: .75em;
    }
    .close-link {
      padding-bottom: 1em;
    }
    .field-name-body p {
      font-weight: bold;
    }
  }
  a.tabledrag-handle .handle{
    width: 23px;
    height: 23px;
  }

  // PRC-1635: Responsive Behavior For Registration Form
  .page-user-register {
    input[type="text"],
    input[type="password"],
    .confirm-parent,
    .password-parent,
    #edit_field_user_state_und_chosen.chosen-container {
      width: 100% !important;
    }

    .password-strength {
      max-width: 17em;
      width: 66%;
      margin-top: 0;
    }
    div.password-confirm {
      max-width: 17em;
      width: 165px;
      margin-top: 1px;
    }

    div.form-item div.password-suggestions {
      width: 100%;
      li {
        margin-left: 1.5em;
      }
    }

    span.prc-checkbox + label {
      padding-left: 0px;
      margin-left: -15px;
      position: relative;
      right: 0;
    }

    input[type="checkbox"] {
      left: 0;
      bottom: 2px;
    }
    input[type='checkbox'] + span.prc-checkbox:after {
        left: 4px;
        top: 1px;
      }

    .prc-checkbox{
      position: relative;
      right: 18px;
      top: 2px;
    }
  }

  // Refinements for table search forms
  .view-parcc-released-items,
  .view-formative-instructional-tasks,
  .view-speaking-and-listening {
    form {
      max-width: 100%;
    }
    .views-exposed-form {
      margin-bottom: 25px;
    }
    label {
      margin-top: 10px;
    }
    #autocomplete li {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .page-user-register {
    #edit-state-account-number {
      width: 210px !important;
    }

    .form-item-state-account-number, .form-item-forgot-member-code {
      display: inline-block;
    }

    .form-item-state-account-number{
      padding-right: 30px;
    }
  }
}

@media #{$small} {
  #multichoice-alternatives-table {
    .filter-wrapper {
      .form-item label {
        display: inline;
      }
    }
  }
  .views-exposed-form .views-exposed-widget {
    display: inline-block;
    padding-right: 1em;
  }
}

@media #{$medium} {
  .form-item-correct-answer{
    max-width: none;
  }
  .field-name-field-grade-level select{
    width: 50%;
  }

  // PRC-1635: Responsive Behavior For Registration Form
  .page-user-register {
    input[type="text"],
    .description,
    input[type="password"],
    .confirm-parent,
    .password-parent {
      width: 50% !important;
    }

    #edit_field_user_state_und_chosen.chosen-container {
      width: 25% !important;
    }

    #edit_field_user_state_und_chosen.chosen-container input[type="text"] {
      width: 100% !important;
    }

    div.form-item div.password-suggestions {
    width: 50%;
    }

    div.password-confirm {
    width: 17em;
    }
  }
}